apiVersion: v1
kind: Service
metadata:
  annotations:
    prometheus.io/scrape: "true"
  labels:
    giantswarm.io/monitoring: "true"
    {{- include "labels.common" . | nindent 4 }}
  name: {{ include "resource.default.name" . }}-metrics-service
  namespace: {{ include "resource.default.namespace" . }}
spec:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: https
  selector:
    {{- include "labels.selector" . | nindent 4 }}
  sessionAffinity: None
  type: ClusterIP
